body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0033A0 !important; 
    color: white;
}

.navbar, .footer {
    background-color: #0033A0;
}

.navbar-brand .logo {
    transition: transform 0.5s ease-in-out;
}

.logo {
    transition: transform 0.5s;
}

.logo:hover {
    transform: scale(1.2);
}
